aside {
        background: #f2f2f2;
        position: relative;
        display: none;
}
aside.active {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99;
    height: 100%;
}
.supplier-aside {
        background: #f2f2f2;
        width: 320px;
        position: relative;
        padding: 15px;
    }
.supplier-details .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.supplier-aside .supplier-details img {
    width: 100px;
    margin-bottom: 10px;
}
.supplier-details .logo span{
    text-align: center;
    margin-bottom: 10px;
}
.supplier-products {
    position: relative;
    padding: 30px;
}
.supplier-products .product {
    border: 1px solid #e3e3e3;
    margin-bottom: 10px;
    border-radius: 8px;
}   
.supplier-products .product .photo img {
    height: 120px;
    object-fit: contain;
}
.supplier-products .product .photo {
    display: flex;
    justify-content: center;
}
.supplier-products .product .name {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.supplier-products .product .name span:last-child{
    color: #39c6b8;
    font-weight: 600;
}
.supplier-products .product .details .supplier-name{
    margin-bottom: 5px;
    display: block;
}
.supplier-products .product .details p {
    color: #9fa4a8;
    font-size: 12px;
}
.supplier-products .product .details .bulk-buy, .supplier-products .product .details .supplier-cart {
    display: block;
    width: 100%;
    text-align: center;
    background: #39c6b8;
    padding: 6px;
    color: #fff;
    margin-bottom: 10px;
    border-radius: 3px;
}
.supplier-cart svg {
    fill: #092c47;
}
.filter{
    display: block;
    margin: 0 15px;
}
.filter .container {
    display: flex;
    align-items: center;
    margin-top: 15px;
    padding: 10px;
    background: #f1f1f1;
    border-radius: 8px;
    column-gap: 5px;
    color: #092c47;
    cursor: pointer;
}  
.filter .container svg {
    fill: #092c47;
}
@media (min-width: 992px) {
    aside{
        display: block;
    }
    .filter{
        display: none;
    }
 }
