.related-products {
    position: relative;
    padding: 30px;
}
.related-products .product {
    border: 1px solid #e3e3e3;
    margin-bottom: 10px;
    border-radius: 8px;
    width: calc(20% - 20px);
    margin: 10px !important;
}   
.related-products .product .photo img {
    height: 120px;
    object-fit: contain;
}
.related-products .product .photo {
    display: flex;
    justify-content: center;
}
.related-products .product .name {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.related-products .product .name span:last-child{
    color: #39c6b8;
    font-weight: 600;
}
.related-products .product .details .supplier-name{
    margin-bottom: 5px;
    display: block;
}
.related-products .product .details p {
    color: #9fa4a8;
    font-size: 12px;
}
.related-products .product .details .bulk-buy, .related-products .product .details .supplier-cart {
    display: block;
    width: 100%;
    text-align: center;
    background: #39c6b8;
    padding: 6px;
    color: #fff;
    margin-bottom: 10px;
    border-radius: 3px;
}
.supplier-cart svg {
    fill: #092c47;
}